# Default Properties file for use by StdSchedulerFactory
# to create a Quartz Scheduler Instance, if a different
# properties file is not explicitly specified.
#
quartz.scheduler.instanceName = ReflexScheduler
quartz.threadPool.threadCount = 6
quartz.threadPool.threadPriority = Normal
quartz.jobStore.type = Quartz.Simpl.RAMJobStore, Quartz